[submodule "pkg/CVMix-src"]
	path = pkg/CVMix-src
	url = https://github.com/mom-ocean/CVMix-src.git
[submodule "pkg/GSW-Fortran"]
	path = pkg/GSW-Fortran
	url = https://github.com/mom-ocean/GSW-Fortran.git
[submodule "config_src/external/CEFI_ocean_BGC"]
        path = config_src/external/CEFI_ocean_BGC
        url = https://github.com/ThomasNeumann2/CEFI_ocean_BGC.git
	branch = dev-bgc/iow
	update = merge
