[submodule "pkg/CVMix-src"]
	path = pkg/CVMix-src
	url = https://github.com/CVMix/CVMix-src.git
[submodule "pkg/GSW-Fortran"]
	path = pkg/GSW-Fortran
	url = https://github.com/TEOS-10/GSW-Fortran.git
[submodule "config_src/external/CEFI_ocean_BGC"]
	path = config_src/external/CEFI_ocean_BGC
	url = https://github.com/ThomasNeumann2/CEFI_ocean_BGC.git
